<div class="app-banner">
    <h1 class="chat-title">Super Chat!</h1>
        <div class="container app-chat">
            <div class="app-chat-input">
                <input type="text" id="chat-box" placeholder="Escribe aqui.">
            </div>
        </div>
        <div class="app-chat__messages" id="messages-box">

        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>