<div class="container">
  <form id="login-form">
    <div class="mb-3">
      <label for="lEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="lEmail" name="email">
    </div>
    <div class="mb-3">
      <label for="lPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="lPassword" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/register">Don't have an account? Sign up Here</a>
</div>