<div class="container">
  <form id="register-form">
    <div class="mb-3">
      <label for="rFirstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="rFirstname" name="first_name">
    </div>
    <div class="mb-3">
      <label for="rLastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="rLastname" name="last_name">
    </div>
    <div class="mb-3">
      <label for="rAge" class="form-label">Age</label>
      <input type="number" class="form-control" id="rAge" name="age">
    </div>
    <div class="mb-3">
      <label for="rEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="rEmail" aria-describedby="emailHelp" name="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="rPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="rPassword" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
   <a href="/">Already have an account? Sign in Here</a>
</div>